<div class="container">
  <h2>Meus Livros Inscritos</h2>
  <button routerLink="/home/cliente" class="voltar-button">Voltar ao catálogo</button>

  <ng-container *ngIf="(inscritos$ | async) as livros; else vazio">
    <div class="conteudo" *ngFor="let livro of livros">
      <mat-card class="card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title>{{ livro.titulo }}</mat-card-title>
          <mat-card-subtitle>Autor: {{ livro.autor }}</mat-card-subtitle>
          <mat-card-subtitle>Editora: {{ livro.editora }}</mat-card-subtitle>
          <mat-card-subtitle>Ano de Publicação: {{ livro.anoPublicacao }}</mat-card-subtitle>
          <mat-card-subtitle>Preço: {{ livro.preco | currency:'BRL' }}</mat-card-subtitle>
          <mat-card-subtitle>Estado de Conservação: {{ livro.estadoConservacao }}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>
  </ng-container>

  <ng-template #vazio>
    <p class="vazio">Nenhum livro inscrito ainda.</p>
  </ng-template>
</div>
